@model tarea.Models.viewModels.tableZoo

@{
    ViewBag.Title = "Crear nuevo Zoologico";
}

<h2>ViewBag.Title</h2>


@using (Html.BeginForm("crearNuevo", "zoo", FormMethod.Post)) {
<div class="row">
    <div class="col-md-12">

        @Html.LabelFor(d=de)


    </div>

</div>  
}